//Colors
$primary: /*#FE5F1E;*/ #f50505;
$primary-hover: /*#b23301;*/ #a80303;
$secondary: #F8F8F8;
$pure: white;
$dark: #232323;
$gray: #ccc;
$whiteSmoke: whitesmoke;


//Transition
$smooth: all .3s ease-in-out;